<?php
/*
 * PersonalCloudStorageAPIsLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 10/13/2016
 */

namespace PersonalCloudStorageAPIsLib\Controllers;

use PersonalCloudStorageAPIsLib\APIException;
use PersonalCloudStorageAPIsLib\APIHelper;
use PersonalCloudStorageAPIsLib\Configuration;
use PersonalCloudStorageAPIsLib\Models;
use PersonalCloudStorageAPIsLib\Exceptions;
use PersonalCloudStorageAPIsLib\Http\HttpRequest;
use PersonalCloudStorageAPIsLib\Http\HttpResponse;
use PersonalCloudStorageAPIsLib\Http\HttpMethod;
use PersonalCloudStorageAPIsLib\Http\HttpContext;
use Unirest\Request;

/**
 * @todo Add a general description for this controller.
 */
class SharesController extends BaseController {

    /**
     * @var SharesController The reference to *Singleton* instance of this class
     */
    private static $instance;
    
    /**
     * Returns the *Singleton* instance of this class.
     * @return SharesController The *Singleton* instance.
     */
    public static function getInstance()
    {
        if (null === static::$instance) {
            static::$instance = new static();
        }
        
        return static::$instance;
    }

    /**
     * Delete a share.
     * @param  string     $shareUid     Required parameter: The unique ID of the share.
     * @return void response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function deleteShare (
                $shareUid) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/shares/{shareUid}';

        //process optional query parameters
        APIHelper::appendUrlWithTemplateParameters($_queryBuilder, array (
            'shareUid' => $shareUid,
            ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::DELETE, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);            
        }

        //and invoke the API call request to fetch the response
        $response = Request::delete($_queryUrl, $_headers);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
            $_httpContext = new HttpContext($_httpRequest, $_httpResponse);
            
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);            
        }

        //Error handling using HTTP status codes
        if ($response->code == 401) {
            throw new Exceptions\ErrorResponseException('[Unauthorized] Bearer token is missing, expired, or invalid.', $_httpContext);
        }

        else if ($response->code == 404) {
            throw new Exceptions\ErrorResponseException('[Not Found] Resource not found.', $_httpContext);
        }

        else if ($response->code == 503) {
            throw new Exceptions\ErrorResponseException('[Service Unavailable] See response body for more detail.', $_httpContext);
        }

        else if (($response->code < 200) || ($response->code > 208)) { //[200,208] = HTTP OK
            throw new APIException("HTTP Response Not OK", $_httpContext);
        }
    }
        
    /**
     * Create Share.
     * @param  Models\CreateShareRequest $createShare      Required parameter: Allows a user to create a share
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createShare (
                $createShare) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/shares';

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json',
            'content-type'  => 'application/json; charset=utf-8',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);            
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers, Request\Body::Json($createShare));

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
            $_httpContext = new HttpContext($_httpRequest, $_httpResponse);
            
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);            
        }

        //Error handling using HTTP status codes
        if ($response->code == 400) {
            throw new Exceptions\ErrorResponseException('[Bad Request] Parameters missing or invalid.', $_httpContext);
        }

        else if ($response->code == 401) {
            throw new Exceptions\ErrorResponseException('[Unauthorized] Bearer token is missing, expired, or invalid.', $_httpContext);
        }

        else if ($response->code == 503) {
            throw new Exceptions\ErrorResponseException('[Service Unavailable] See response body for more detail.', $_httpContext);
        }

        else if (($response->code < 200) || ($response->code > 208)) { //[200,208] = HTTP OK
            throw new APIException("HTTP Response Not OK", $_httpContext);
        }

        $mapper = $this->getJsonMapper();

        return $mapper->map($response->body, new Models\CreateShareResponse());
    }
        
    /**
     * List Shares.
     * @param  string      $cursor     Optional parameter: A cursor used in paginating the response. Cursors are returned in 'next' and 'prev' links in the response body.
     * @param  string      $filter     Optional parameter: Filters the returned shares. Currently the value can only be 'outbound' (shared by the user).
     * @param  string      $since      Optional parameter: The date and time, expressed in the W3C date and time format, after which messages should be returned.
     * @param  string      $until      Optional parameter: The date and time, expressed in the W3C date and time format, up to which messages should be returned.
     * @param  integer     $count      Optional parameter: Maximum items to include in a paginated response, for share requests.
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function listShares (
                $cursor = NULL,
                $filter = 'outbound',
                $since = NULL,
                $until = NULL,
                $count = NULL) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/shares';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'cursor' => $cursor,
            'filter' => (null != $filter) ? $filter : 'outbound',
            'since'  => $since,
            'until'  => $until,
            'count'  => $count,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json',
            'Authorization' => sprintf('Bearer %1$s', Configuration::$oAuthAccessToken)
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);            
        }

        //and invoke the API call request to fetch the response
        $response = Request::get($_queryUrl, $_headers);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
            $_httpContext = new HttpContext($_httpRequest, $_httpResponse);
            
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);            
        }

        //Error handling using HTTP status codes
        if ($response->code == 400) {
            throw new Exceptions\ErrorResponseException('[Bad Request] Parameters missing or any invalid parameter passed.', $_httpContext);
        }

        else if ($response->code == 401) {
            throw new Exceptions\ErrorResponseException('[Unauthorized] Bearer token is missing, expired, or invalid.', $_httpContext);
        }

        else if ($response->code == 503) {
            throw new Exceptions\ErrorResponseException('[Service Unavailable] See response body for more detail.', $_httpContext);
        }

        else if (($response->code < 200) || ($response->code > 208)) { //[200,208] = HTTP OK
            throw new APIException("HTTP Response Not OK", $_httpContext);
        }

        $mapper = $this->getJsonMapper();

        return $mapper->map($response->body, new Models\ShareResponseList());
    }
        

}